<!-- about.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "About" %}
{% set logoColor = "#ffffff" %}
{% set navbarDark = true %}
{% set navbarFull = true %}

{% block content %}
    <section class="bg-primary pt-11 mb-6 pt-lg-12 mb-lg-7 text-white bg-layer-white-bottom-20-left-100">
        <div class="container position-relative">            
            <div class="row">
                <div class="col">
                    <h1 class="display-4">About Us</h1>
                    <div class="img-shifted shift-left py-8 py-lg-10" data-aos="fade-right">
                        <div class="bg-image bg-cover bg-position-bottom-center" style="background-image: url(assets/images/photos/photo-06.jpg);" data-jarallax data-speed=".8"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-3 py-lg-4" id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12" data-aos="fade-right">
                    <p class="lead mb-4">The landscape of healthcare delivery is rapidly changing, and we believe high-quality remote patient care is here to stay.
                    </p>
                    <o class="lead mb-4">
                    In the midst of drastic paradigm shifts, we asked ourselves one bold question: <strong>What if remote patient care becomes the primary means of healthcare delivery?</strong> How would we design a technology solution to support such a new model? How should we capture the full value of remote care to fairly compensate both providers and payers?
                    </p>
                    <o class="lead mb-4">
                    We are experts in building innovative health technologies, navigating various government programs, and analyzing complex healthcare data. We have built several successful healthcare companies and operated risk-bearing medical groups in the past. We set out to develop a remote patient care platform that fits into value-based care models.</p>
                </div>

            </div>
        </div>
    </section>

    <!--<section class="py-6 py-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Our team</h2>
                </div>
            </div>
            <div class="row px-3">
                <div class="col-md-6 col-lg-4 px-3 mb-5" data-aos="fade-up">
                    <div class="card shadow lift rounded">
                        <div class="card-body py-4">
                            <p class="card-text"><strong>Neil Ahuja</strong><br/><span class="small"> Co-founder and CEO</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 px-3 mb-5" data-aos="fade-up" data-aos-delay="50">
                    <div class="card shadow lift rounded">
                        <div class="card-body py-4">
                            <p class="card-text"><strong>Yubin Park, PhD</strong><br/><span class="small">Co-founder and CTO</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 px-3 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <div class="card shadow lift rounded">
                        <div class="card-body py-4">
                            <p class="card-text"><strong>Venu Kondle, MD</strong><br/><span class="small">Cheif Medical Officer</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 px-3 mb-5" data-aos="fade-up">
                    <div class="card shadow lift rounded">
                        <div class="card-body py-4">
                            <p class="card-text"><strong>Rahul Patel</strong><br/><span class="small">Engineering Lead</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 px-3 mb-5" data-aos="fade-up" data-aos-delay="50">
                    <div class="card shadow lift rounded">
                        <div class="card-body py-4">
                            <p class="card-text"><strong>Soham Kondle</strong><br/><span class="small">Clinical Analyst</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 px-3 mb-5" data-aos="fade-up" data-aos-delay="100">
                    <div class="card shadow lift rounded">
                        <div class="card-body py-4">
                            <p class="card-text"><strong>Praj Sharma</strong><br/><span class="small">Clinical Analyst</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->

    <section class="py-6 mb-5 py-lg-7 mb-lg-6">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-6 col-xl-8">
                    <h2>We work with the best</h2>
                    <p class="mb-5 text-muted">We partner with best-in-class device manufacturers and software platforms.</p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <img src="assets/images/logos/bodytrace-black.png" alt="editor" class="img-fluid w-100">
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <img src="assets/images/logos/Smart_Meter_Logo.jpg" alt="editor" class="img-fluid w-100">
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <img src="assets/images/logos/alivecor-logo.png" alt="editor" class="img-fluid w-100">
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <img src="assets/images/logos/Garmin-Logo.png" alt="editor" class="img-fluid w-100">
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <img src="assets/images/logos/MongoDB_Logo_FullColorBlack_RGB-4td3yuxzjs.png" alt="editor" class="img-fluid w-100">
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4 mb-lg-0 text-center">
                    <img src="assets/images/logos/twilio-logo.png" alt="editor" class="img-fluid w-100">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}