<!-- careers.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Company" %}
{% set navbarFull = true %}

{% block content %}
    <section class="mt-10 pt-6 pb-4 pt-lg7 pb-lg-5 bg-layer-light-top-80-left-50">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-4">Join our team</h1>
                    <p>We are constantly looking for passionate and mission-driven people to transform the future of healthcare. If you are interested, please send your resume to careers@arqinsights.com</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-13 py-lg-15 mb-6 mb-lg-7">
        <div class="bg-image bg-cover overlay overlay-primary overlay-40" data-jarallax data-speed=".8" style="background-image: url(assets/images/photos/orma-video-datascience.png);">
            <div class="container h-100">
                <div class="row align-items-center justify-content-center h-100 text-center text-white">
                    <div class="col-lg-6">
                        <h2>Watch our video of how we are pushing the boundary of healthcare analytics</h2>

                        <div class="gallery">
                            <div>
                                <figure class="mb-0">
                                    <a href="#" class="text-white" data-type="video" data-video='<div class="d-flex align-items-center p-3 p-lg-8 h-100"><div class="embed-responsive embed-responsive-16by9"><iframe class="pswp__video embed-responsive-item" src="https://www.youtube.com/embed/KSLphdk5QkU" frameborder="0" allowfullscreen></iframe></div></div>'>
                                        <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>button-play-1</title><path d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm4.828,12.894L9.447,16.584h0A1,1,0,0,1,8,15.69V8.308a1,1,0,0,1,1.446-.895L16.829,11.1A1,1,0,0,1,16.828,12.893Z"/></svg>
                                    </a>
                                    <figcaption class="sr-only">Real-time RPM Data is the Missing Piece for Truly Meaningful Healthcare Data Science</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}