<!-- blog.njk -->
{% extends "layouts/_layout.njk" %}
{% set title = "Insights" %}
{% set logoColor = "#ffffff" %}
{% set navbarDark = true %}
{% set navbarFull = true %}

{% block content %}
    <section class="bg-primary pt-11 mb-6 pt-lg-12 mb-lg-7 text-white bg-layer-white-bottom-20-left-100">
        <div class="container position-relative">            
            <div class="row">
                <div class="col">
                    <h1 class="display-4">Customer Stories and Insights</h1>
                    <div class="img-shifted shift-left py-8 py-lg-10" data-aos="fade-right">
                        <div class="bg-image bg-cover bg-position-bottom-center" style="background-image: url(assets/images/photos/photo-38.jpg);" data-jarallax data-speed=".8"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light">
        <div class="container pt-6 pb-7 pt-lg-7 pb-lg-10">
            <div class="row">
                <div class="col">

                    <a class="card shadow-sm lift mb-5 mb-lg-6" href="blog-sk-1.html">
                        <div class="row no-gutters">
                            <div class="col-lg-5 py-8 py-md-9">
                                <div class="bg-image bg-cover" style="background-image: url(assets/images/photos/healthcare-future-2.png);"></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="card-body p-5 py-lg-6 px-lg-5">
                                    <p class="font-size-6 text-uppercase font-weight-bold mb-0">April 17, 2021</p>
                                    <h3 class="card-title">What is Remote Patient Monitoring<svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"/><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"/></svg></h3>
                                    <p class="card-text">... RPM bridges the gap between a patient and their provider to make sure that both parties are working together ...</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="card shadow-sm lift mb-5 mb-lg-6" href="blog-pj-1.html">
                        <div class="row no-gutters">
                            <div class="col-lg-5 order-lg-last py-8 py-md-9">
                                <div class="bg-image bg-cover" style="background-image: url(assets/images/photos/healthcare-future.png);"></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="card-body p-5 py-lg-6 px-lg-5">
                                    <p class="font-size-6 text-uppercase font-weight-bold mb-0">April 16, 2021</p>
                                    <h3 class="card-title">Future of Healthcare - Digital Health<svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"/><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"/></svg></h3>
                                    <p class="card-text">Patient health will be constantly monitored while the current paradigm is to track patients through sporadic in-person appointments Remote monitoring devices give the provider more data points to pull from and facilitates prevention through the early diagnosis of life-threatening and chronic ...</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <a class="card shadow-sm lift mb-5 mb-lg-6" href="https://youtu.be/KSLphdk5QkU" target="_blank">
                        <div class="row no-gutters">
                            <div class="col-lg-5 py-8 py-md-9">
                                <div class="bg-image bg-cover" style="background-image: url(assets/images/photos/orma-video-datascience.png);"></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="card-body p-5 py-lg-6 px-lg-5">
                                    <p class="font-size-6 text-uppercase font-weight-bold mb-0">April 22, 2021</p>
                                    <h3 class="card-title">Real-time RPM Data is the Missing Piece for Truly Meaningful Healthcare Data Science<svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"/><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"/></svg></h3>
                                    <p class="card-text">Predictive analytics based on 3-month old data can do so much. What the US healthcare needs is real-time data that can help quickly assess the current situations and predict any adverse events in "real-time". Yubin Park, PhD in Machine Learning from UT Austin, talks about his experience in the healthcare analytics and what the industry needs at the moment.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="card shadow-sm lift mb-5 mb-lg-6" href="https://www.youtube.com/watch?v=Dud4K72Jq9g" target="_blank">
                        <div class="row no-gutters">
                            <div class="col-lg-5 order-lg-last py-8 py-md-9">
                                <div class="bg-image bg-cover" style="background-image: url(assets/images/photos/orma-video-intro.png);"></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="card-body p-5 py-lg-6 px-lg-5">
                                    <p class="font-size-6 text-uppercase font-weight-bold mb-0">April 22, 2021</p>
                                    <h3 class="card-title">What does it mean to have "Real-time" Remote Patient Monitoring<svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"/><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"/></svg></h3>
                                    <p class="card-text">Yubin Park, PhD, talks about what it means to have "Real-time" Remote Patient Monitoring (RPM) in the US healthcare space. With Real-time RPM, you have more touch points and prevent unnecessary hospitalization events more effectively.</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a class="card shadow-sm lift mb-5 mb-lg-6" href="https://youtu.be/qOBpVVyWziE" target="_blank">
                        <div class="row no-gutters">
                            <div class="col-lg-5 py-8 py-md-9">
                                <div class="bg-image bg-cover" style="background-image: url(assets/images/photos/orma-video-bp.png);"></div>
                            </div>
                            <div class="col-lg-7">
                                <div class="card-body p-5 py-lg-6 px-lg-5">
                                    <p class="font-size-6 text-uppercase font-weight-bold mb-0">April 22, 2021</p>
                                    <h3 class="card-title">RPM initiates a Chain Reaction for Better Healthe<svg width="22" height="22" class="fill-secondary ml-2 mt-n1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>navigation-next-alternate</title><path d="M23.7,10.209a1,1,0,0,0,0-1.414L20.2,5.3A1,1,0,0,0,18.5,6v1.75a.249.249,0,0,1-.25.25H12.5a4.005,4.005,0,0,0-4,4v2a1.5,1.5,0,0,0,3,0V12a1,1,0,0,1,1-1h5.75a.249.249,0,0,1,.25.25V13a1,1,0,0,0,1.708.707Z"/><path d="M16,12.5a1,1,0,0,0-1,1V18a.5.5,0,0,1-.5.5H2.5A.5.5,0,0,1,2,18V6a.5.5,0,0,1,.5-.5H15a1,1,0,1,0,2,0,2,2,0,0,0-2-2H2a2,2,0,0,0-2,2v13a2,2,0,0,0,2,2H15a2,2,0,0,0,2-2v-5A1,1,0,0,0,16,12.5Z"/></svg></h3>
                                    <p class="card-text">Remote Patient Monitoring (RPM) is not just "measuring" patients' physiological data at home. It provides the common ground between care teams and patients, and open up deeper discussions; a chain reaction for better health. Listen how Orma Health's members are improving their health via Orma's Remote Patient Monitoring program.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}