<!-- Favicon and Touch Icons-->
<link rel="icon" href="assets/images/icons/favicons/favicon.ico" type="image/x-icon" />
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">