{% if not fullScreen %}
    <!-- Footer -->
    <footer class="bg-primary text-white small">
        <div class="pt-6 pb-4 pt-lg-7 pb-lg-6">
            <div class="container">
                <div class="row justify-content-md-between">
                    <div class="col-md-7 col-lg-6 d-flex flex-column">
                        ARQ Insights<br>
                        <span class="text-muted">The right insights at the right moments.</span>
                    </div>
                    <div class="col-md-5 col-lg-4 mt-5 mt-md-0 {{'order-lg-first' if footerPushed}}">
                        <!-- Footer links -->
                        <div class="row">
                            <div class="col-6 col-md-4 mb-4 mb-md-0">
                                <h3 class="h6 text-uppercase mb-3">Solutions</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-1"><a href="arqinsights.html" class="text-reset">ARQ Insights</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-md-4">
                                <h3 class="h6 text-uppercase mb-3">Company</h3>
                                <ul class="list-unstyled">
                                    <li class="mb-1"><a href="about.html" class="text-reset">About Us</a></li>
                                    <li class="mb-1"><a href="contact.html" class="text-reset">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer bottom -->
        <div class="border-top border-gray py-3">
            <div class="container">
                <div class="row justify-content-between small">
                    <div class="col-auto">
                        <a href="privacy-policy.html" class="text-reset">Privacy Policy</a> | <a href="terms-of-use.html" class="text-reset">Terms of Use</a>
                    </div>
                    <div class="col-auto">
                        <a data-scroll href="#" class="d-inline-block text-reset" title="Up to the top">
                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-button-up-1</title><path d="M12,10.416a2.643,2.643,0,0,1,1.875.775l9.541,9.541a1.768,1.768,0,0,1-2.5,2.5l-8.739-8.739a.25.25,0,0,0-.354,0L3.084,23.232a1.768,1.768,0,0,1-2.5-2.5l9.541-9.541A2.643,2.643,0,0,1,12,10.416Z"/><path d="M12,.25a2.643,2.643,0,0,1,1.875.775l9.541,9.541a1.768,1.768,0,0,1-2.5,2.5L12.177,4.327a.25.25,0,0,0-.354,0L3.084,13.066a1.768,1.768,0,0,1-2.5-2.5l9.541-9.541A2.643,2.643,0,0,1,12,.25Z"/></svg>
                        </a>
                    </div>
                    <div class="col-auto">
                        <span>&copy; 2021 ARQ Insights</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endif %}